
# deepwalk config
num_nodes=10312 # max node_id + 1
num_sample_workers=2
epoch=100

optimizer=sgd # sgd or adam
learning_rate=0.5

neg_num=5
walk_len=40
win_size=5
dim=128
batch_size=8
steps_per_save=5000

is_sparse=False
distributed_embedding=False # only use when num_nodes > 100,000,000, slower than noraml embedding
build_train_data=True
pre_walk=False

CPU_NUM=16
